conf.json
*/__pycache__/**
__pycache__/**
password_list.txt
passfinder.db
pastebin.com*
100pastes/*
100pastes*
downloaded_files/** 
T_*
F_*
combos/**
*.png
combo*.txt
forums.txt
scraped.db
~/*
password_list_hashes*
/password_list_hashes.txt
top10000*