azure-functions
azure-identity
azure-storage-blob
bs4
chromedriver
enchant
fake-useragent
fastapi
httptools
langdetect
pandas
pip-chill
pyenchant
pyodbc
pyyaml
selenium-wire
smart-open
undetected-chromedriver
uvloop
watchfiles
webdriver-manager