azure-functions
azure-identity
azure-storage-blob
bs4
chromedriver
enchant
fastapi
httptools
pandas
pip-chill
pyodbc
pysocks
python-dotenv
pyyaml
selenium
smart-open
watchfiles
websockets
